{%extends 'home.html'%}
{%block titl%}About Us{%endblock%}
{%block content%}

  

{%load static%}
    <!-- <h1>Our Store is a multi-brand B2C ecommerce for all your technological needs dealing with all electronic gadgets/appliances/accessories in Nepal. With over 30 different international brands in our arsenal, including Dell, HP, Sennheiser, Haier, Rapoo Samsung, Logitech, Belkin, we aim to fulfill each and every need of electronic gadgets in Nepal. Neo Store is powered by Neoteric Nepal Private Ltd.

        We realize how important it really is for latest quality products to be available for our customers. Visit our site, if you wish to buy any electronic gadgets in Nepal
        
        Online Payment:
        Checkout easily with your Master/Visa and from anywhere. Our store has a secured online payment method serving our customer base.</h1> -->
        <body>
        <section class="about-us">
            <div id="1" class="about">
              <img src="{%static 'Group.jpg'%}" class="image">
              <div class="text">
                <h2>About Us</h2>
                <h5>Front-end Developer & <span>Designer</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
              </div>
            </div>
            <div class="conatiner">
              <div class="row1">


            <div class="banner">
              <img src="{%static 'banner.png'%}" class="image2"></div>
          </section>
        </body>
       <style>
        {% comment %} * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  display: flex;
  align-items: center;
  height: 125vh;
  width: 100%;
  padding: 90px 0;
  background: #131313;
}
.image {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 700px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 150px;
}
.text h5 {
  color: #333;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  word-break: break-all;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}
body{
  background-color: #131313;
}
       </style>   
{%endblock%}