{%extends 'base.html'%}
{%block titl%}About Us{%endblock%}
{%block content%}
    <h1>Our Store is a multi-brand B2C ecommerce for all your technological needs dealing with all electronic gadgets/appliances/accessories in Nepal. With over 30 different international brands in our arsenal, including Dell, HP, Sennheiser, Haier, Rapoo Samsung, Logitech, Belkin, we aim to fulfill each and every need of electronic gadgets in Nepal. Neo Store is powered by Neoteric Nepal Private Ltd.

        We realize how important it really is for latest quality products to be available for our customers. Visit our site, if you wish to buy any electronic gadgets in Nepal
        
        Online Payment:
        Checkout easily with your Master/Visa and from anywhere. Our store has a secured online payment method serving our customer base.NICE</h1>
{%endblock%}