{%extends 'base.html'%}
{%block title%}My cart{%endblock%}
{%block content%}
<body>
    

<div class="container">
    <div class="col-md-8">
        <h4>Items in my cart</h4><hr>
        <table class="table">
            <thead><tr>
                <th>SN</th>
                <th>Product</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <Th>Action</Th>
            </tr>
            </thead>
            <tbody>
                {%for cp in cart.cartproduct_set.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{cp.product.title}}</td>
                    <td>{{cp.rate}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.subtotal}}</td>
                    <td>
                        <a href="{%url 'ecomapp:managecart' cp.id%}?action=inc" class="btn btn-primary">+</a>
                        <a href="{%url 'ecomapp:managecart' cp.id%}?action=dcr" class="btn btn-warning">-</a>
                        <a href="{%url 'ecomapp:managecart' cp.id%}?action=rmv" class="btn btn-danger">x</a>
                    </td>
                </tr>
                {%endfor%}
                <tr>
                    <th colspan="4" class="text-right">Total</th>
                    <th>Rs.{{cart.total}}</th>
                    {%if cart.cartproduct_set.all%}
                    <th><a href="{%url 'ecomapp:emptycart'%}">Empty Cart</a></th>
                    {%endif%}
                    
                </tr>
                {%if cart.cartproduct_set.all%}
                <tr>
                    <th><a class="btn btn-info"href="{%url 'ecomapp:checkout'%}">Checkout</a></th>
                </tr>
                {%endif%}


            </tbody>
        </table>

    </div>
</div>
</body>
<style>
    body{
        background-color: #131313;
    }
    /* Add some styling to the table */
.table {
  width: 150%;
  border-collapse: collapse;
  color: tomato;
}

.table th, .table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: darkslategray;
  color: black;
}

.table td {
  vertical-align: middle;
}

/* Add some styling to the buttons */
.btn {
  margin: 5px;
}

/* Add some styling to the total row */
th.text-right {
  text-align: right;
}

/* Add some styling to the checkout button */
.btn-info {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background-color: #f90;
  border-color: #f90;
  color: black;
}
h4{
  color: darkgoldenrod;
}
a{
  color: rosybrown;
}
</style>
{%endblock%}
