{%extends 'base.html'%}
{%block title%}{{product.title}}{%endblock%}

{%block content%}
<body>
    

<div class="container">
    <h1>Product: {{product.title}}</h1><hr>
    <div class="row">
        <div class="col-md-6">
            <img src="{{product.image.url}}" alt="" class="img-fluid">

        </div>
        <div class="col-md-6">
            <h4>{{product.title}} (Viewed {{product.view_count}} times)</h4>
            <h3>Category:{{product.category}}</h3>
            <h3>Price:<strike>Rs.{{product.marked_price}}</strike>Rs. {{product.selling_price}}</h3>
            <a href="{%url 'ecomapp:addtocart' product.id%}" class="btn btn-info">Add To Cart</a>
            <hr>
            <p class="text-info">Warranty:{{product.warranty}}</p>
            <hr>
            <p class="text-info">Return Policy:{{product.return_policy}}</p>
            <p>{{product.description}}</p>

        </div>
    </div>
</div>
</body>
<style>
    body{
        background-color: #e5eddf;
    }
    .container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: bold;
  color: #e55b1c;
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.col-md-6 {
  flex-basis: 50%;
  margin: 10px;
  
}

.img-fluid {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.img-fluid:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

h4 {
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

strike {
  color: #999;
  text-decoration: line-through;
}

.btn-info {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-info:hover {
  background-color: #23527c;
}

.text-info {
  color: aqua;
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  color: #444f45;
  font-size: 16px;
  margin-bottom: 20px;
}
</style>
{%endblock%}